<!-- <embed src="../../../assets/files/My resume.pdf" type="application/pdf" width="100%" height="800" /> -->

<!-- <object data="../../../assets/files/My resume.pdf" type="application/pdf" width="100%" height="750px">
  <embed src="../../../assets/files/My resume.pdf" type="application/pdf">
      <p>This browser does not support PDFs. Please download the PDF to view it: <a href="../../../assets/files/My resume.pdf">Download PDF</a>.</p>
  </embed>
  <embed src="../../../assets/files/My resume.pdf" type="application/pdf" width="100%" height="800" />
  <p>This browser does not support PDFs. Please download the PDF to view it: <a href="../../../assets/files/My resume.pdf">Download PDF</a>.</p>
</object> -->

<div class="homesection">
  <section>
    <div class="homesection_info">
      <nav class="nav_menu">
        <div class="nav_menu_links">
          <li class="rotating">
            <a routerLink="/" (click)="setDocTitle( 'Home' )">
              <img src="../../../assets/CPT..png" alt="logo" width="50">
            </a>
          </li>
        </div>
        <div class="nav_menu_other">
          <li><a routerLink="/about" (click)="setDocTitle( 'About' )">About</a></li>
          <li><a routerLink="/contact" (click)="setDocTitle( 'Contact' )">Contact</a></li>
          <li><a routerLink="" (click)="setDocTitle( 'Projects' )">Projects</a></li>
        </div>
      </nav>
    </div>
  </section>
  <section>

<a href="../../../assets/files/My resume.pdf">Download PDF</a>
  </section>
</div>