@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,500&display=swap');
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    line-height: 1.2em;
    margin: 0;
    margin-bottom: .5rem;
}
p{
    margin: 0
}
textarea{
    resize: none
}
.nav_menu{
    display: flex;
    max-width: 1500px;
    margin: auto;
}
.nav_menu_other{
    margin-left: auto;
    display: flex
}
.nav_menu_other li{
    padding: 10px;
    list-style: none;
    font-size: 20px;
    margin: auto;
}
.nav_menu_other li a{
    text-decoration: none;
    color: black;
}
.nav_menu_links{
}
.nav_menu_links li{
    list-style: none;
    padding: 10px;
    font-size: 20px;
    margin: auto
}
.nav_menu_links li a{
    text-decoration: none;
    color: black
}
.rotating img{
    animation: rotate 2s linear infinite;
    -webkit-animation: rotate 2s linear infinite;
}
@keyframes rotate{
    100%{
        transform: rotatey(360deg)
    }
}
.homesection{
    /* display: flex */
    height: 100vh;
}