<!-- <embed src="../../../assets/files/My resume.pdf" type="application/pdf" width="100%" height="800" /> -->

<!-- <object data="../../../assets/files/My resume.pdf" type="application/pdf" width="100%" height="750px">
  <embed src="../../../assets/files/My resume.pdf" type="application/pdf">
      <p>This browser does not support PDFs. Please download the PDF to view it: <a href="../../../assets/files/My resume.pdf">Download PDF</a>.</p>
  </embed>
  <embed src="../../../assets/files/My resume.pdf" type="application/pdf" width="100%" height="800" />
  <p>This browser does not support PDFs. Please download the PDF to view it: <a href="../../../assets/files/My resume.pdf">Download PDF</a>.</p>
</object> -->

<div class="homesection">
  <section>
    <div class="homesection_info">
      <nav class="nav_menu">
        <div class="nav_menu_links">
            <li class="rotating">
              <a routerLink="/">
                <img src="../../../assets/CPT..png" alt="logo" width="50">
              </a>
            </li>
        </div>
        <div class="nav_menu_other">
          <ul>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/skills">Skills</a></li>
            <li><a routerLink="/projects">Projects</a></li>
            <li><a routerLink="/contact">Contact</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
  <section>
    <section class="part_about_imfo">
      <div class="part_abt_img">
        <div>
          <img src="../../../assets/IMG_2726.JPG" alt="me">
        </div>
      </div>
      <div class="about_me_wrapper">
        <div class="about_me">
          <div class="about_me_header">
            <h4>about me</h4>
            <p>who am i</p>
          </div>
        </div>
        <div class="about_details">
          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
            some form, by injected humour, or randomised words which don't look even slightly believable. If you are
            going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
            middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as
            necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin
            words, combined with a handful of model sentence structures.
          </p>
          <a href="../../../assets/files//michaelashefor.pdf" target="_blank" class="resume_btn">View Resume</a>
        </div>
      </div>
    </section>
  </section>
</div>