
<div class="homesection">
  <section>
    <div class="homesection_info">
      <nav class="nav_menu">
        <div class="nav_menu_links">
            <li class="rotating">
              <a routerLink="/">
                <img src="../../../assets/CPT..png" alt="logo" width="50">
              </a>
            </li>
        </div>
        <div class="nav_menu_other">
          <ul>
            <li><a routerLink="/about" routerLinkActive="active" class="navlink">About</a></li>
            <li><a routerLink="/projects" routerLinkActive="active"  class="navlink">Projects</a></li>
            <li><a routerLink="/contact" routerLinkActive="active"  class="navlink">Contact</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
  <section>
    <section class="part_about_imfo">
      <div class="part_abt_img">
        <div>
          <img src="../../../assets/IMG_2726.JPG" alt="me">
        </div>
      </div>
      <div class="about_me_wrapper">
        <div class="about_me">
          <div class="about_me_header">
            <h4>about me</h4>
            <p>who am i</p>
          </div>
        </div>
        <div class="about_details">
          <p>
              I am a Frontend Developer who believes strongly in responsve and good user experience and finding ways to enhance such experience
          </p>
          <p>
              I love challenges and looking forward to new ones to further my growth and experience. I have just the one article (yes I actually do) so please check it out <a href="https://dev.to/michaelashefor/coding-is-not-for-everyone-but-you-e6j">here</a> and let me know what you think.
          </p>
          <p>
              I love playing FIFA, listening to Pop music (good ones) and watching movies (the good ones please). I am a big fan of the <a href="https://en.wikipedia.org/wiki/Marvel_Cinematic_Universe" target="_blank">MCU</a>
          </p>
          <a href="../../../assets/files//michaelashefor.pdf" target="_blank" class="resume_btn">View Resume</a>
        </div>
      </div>
    </section>
  </section>
  <footer>
    <div class="footer_details">
        <p>
          Copyright © 2018 <span>Michael Ashefor</span>. All Rights Reserved
        </p>
    </div>
  </footer>
</div>