@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,500&display=swap');
.nav_menu{
    display: flex;
    max-width: 1500px;
    margin: auto;
}
.nav_menu_other{
    margin-left: auto;
    display: flex
}
.nav_menu_other li{
    padding: 10px;
    list-style: none;
    font-size: 20px;
    margin: auto;
}
.nav_menu_other li a{
    text-decoration: none;
    color: black;
}
.rotating img{
    animation: rotate 2s linear infinite;
    -webkit-animation: rotate 2s linear infinite;
}
@keyframes rotate{
    100%{
        transform: rotatey(360deg)
    }
}
.nav_menu_links img{
    
}

.nav_menu_links li{
    list-style: none;
    padding: 10px;
    font-size: 20px;
    margin: auto
}
.nav_menu_links li a{
    text-decoration: none;
    color: black
}
.homesection{
    /* display: flex */
    /* height: 100vh; */
}
.homesection_img{
    width: 100%;
}
.homesection_info:before{
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background-image: url('../../../assets/img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    /* -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); */

}
.homesection_info{
    /* background-image: url('../../../assets/img1.jpg'); */
    /* background-position: center; */
    /* background-repeat: no-repeat;
    background-size: cover; */
    height: 100vh;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.homesection_info{
    width: 100%
}
.homesection_headers{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;

}
.homesection_headers h1{
    font-size: 150px;
    margin: auto;
}
.homesection_headers h4{
    font-size: 30px;
    margin: auto;
}