<div>
  <section class="homesection">
    <div class="homesection_info">
      <nav class="nav_menu">
        <div class="nav_menu_links">
          <li><a href=""><img src="../../../assets/img.PNG" alt="" width="100"></a></li>
          
        </div>
        <div class="nav_menu_other">
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
          <li><a href="">Projects</a></li>
        </div>
      </nav>
      <div class="homesection_headers">
        <h1>
          Hello;
        </h1>
        <h4>
          i'm Michael Ashefor. Frontend Web developer
        </h4>
      </div>
    </div>
    <!-- <div class="homesection_img">
      <img src="../../../assets/profile.JPG" alt="">
    </div> -->
  </section>
</div>