<div>
  <section class="homesection">
    <div class="homesection_info">
      <nav class="nav_menu">
        <div class="nav_menu_links">
            <li class="rotating">
              <a routerLink="/">
                <img src="../../../assets/CPT..png" alt="logo" width="50">
              </a>
            </li>
        </div>
        <div class="nav_menu_other">
          <ul>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/projects">Projects</a></li>
            <li><a routerLink="/contact">Contact</a></li>
          </ul>
        </div>
      </nav>
      <div class="homesection_headers">
        <h1 class="animated bounceIn">
          Hello;
        </h1>
        <h4 class="animated bounceIn">
          i'm Michael Ashefor. Frontend Web developer
        </h4>
      </div>
    </div>
  </section>
</div>

