<div class="homesection">
  <section>
    <div class="homesection_info">
      <nav class="nav_menu">
        <div class="nav_menu_links">
          <li class="rotating">
            <a routerLink="/">
              <img src="../../../assets/CPT..png" alt="logo" width="50">
            </a>
          </li>
        </div>
        <div class="nav_menu_other">
          <ul>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/skills">Skills</a></li>
            <li><a routerLink="/projects">Projects</a></li>
            <li><a routerLink="/contact">Contact</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
  <section>
    <div class="projects">
      <div class="projects_header">
        <h4>projects</h4>
        <p>my work</p>
      </div>
    </div>
    <div class="portfolio_wrapper">
      <div class="portfolio_container">
        <div class="prtfolio_content">
          <a href="https://radrecipe.netlify.com" class="img_link" >
            <div class="port_img">
              <img src="../../../assets/radrecipe.png" alt="Recipe site">
              <div class="port_text">
                <h4>Recipe Site</h4>
                <p>image sub</p>
              </div>
            </div>
          </a>
        </div>
        <div class="prtfolio_content">
          <a href="https://newsheadlines.netlify.com" class="img_link">
            <div class="port_img">
              <img src="../../../assets/news.png" alt="News Site">
              <div class="port_text">
                <h4>News Site</h4>
                <p>image sub</p>
              </div>
            </div>
          </a>
        </div>
        <div class="prtfolio_content">
          <a href="#" class="img_link">
            <div class="port_img">
              <img src="../../../assets/landing.png" alt="">
              <div class="port_text">
                <h4>Landing Page</h4>
                <p>image sub</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="portfolio_wrapper">
      <div class="portfolio_container">
        <div class="prtfolio_content">
          <a href="https://radrecipe.netlify.com" class="img_link" >
            <div class="port_img">
              <img src="../../../assets/radrecipe.png" alt="Recipe site">
              <div class="port_text">
                <h4>Recipe Site</h4>
                <p>image sub</p>
              </div>
            </div>
          </a>
        </div>
        <div class="prtfolio_content">
          <a href="https://newsheadlines.netlify.com" class="img_link">
            <div class="port_img">
              <img src="../../../assets/news.png" alt="News Site">
              <div class="port_text">
                <h4>News Site</h4>
                <p>image sub</p>
              </div>
            </div>
          </a>
        </div>
        <div class="prtfolio_content">
          <a href="#" class="img_link">
            <div class="port_img">
              <img src="../../../assets/landing.png" alt="">
              <div class="port_text">
                <h4>Landing Page</h4>
                <p>image sub</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="footer_details">
        <p>
          Copyright © 2018 <span>Michael Ashefor</span>. All Rights Reserved
        </p>
        <ul>
          <li>
            <a href=""><i class="fab fa-twitter"></i></a>
          </li>
        <li>
          <a href=""><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a href=""><i class="fab fa-facebook-f"></i></a>
        </li>
        <li>
          <a href=""><i class="fab fa-linkedin-in"></i></a>
        </li>
        </ul>
    </div>
  </footer>
</div>